{% extends "base.html" %}
{% block content %}
<head>
    <meta charset="utf-8">
    <h1>Выберите предмет:</h1>
</head>
<body>
<p style="text-align: center"><div class="btn-group-vertical"><div class="d-grid gap-2"><button type="button" class="btn btn-outline-primary">Математика(1-6 класс)</button>
    <button type="button" class="btn btn-outline-primary">Русский язык(1-11 класс)</button>
    <button type="button" class="btn btn-outline-primary">Литература(1-11 класс)</button>
    <button type="button" class="btn btn-outline-primary">География(5-11 класс)</button>
    <button type="button" class="btn btn-outline-primary">Информатика(1-11 класс)</button>
    <button type="button" class="btn btn-outline-primary">Английский язык(1-11 класс)</button>
    <button type="button" class="btn btn-outline-primary">Биология(5-11 класс)</button>
    <button type="button" class="btn btn-outline-primary">Химия(5-11 класс)</button>
    <button type="button" class="btn btn-outline-primary">Алгебра(7-11 класс)</button>
    <button type="button" class="btn btn-outline-primary">Геометрия(7-11 класс)</button>
    <button type="button" class="btn btn-outline-primary">Физика(7-11 класс)</button>
    <button type="button" class="btn btn-outline-primary">Окружающий мир(1-4 класс)</button>
    <button type="button" class="btn btn-outline-primary">Обществознание(5-11 класс)</button>
    <button type="button" class="btn btn-outline-primary">История(1-11 класс)</button></div></div>
</p>
</body>
<a class="btn btn-primary" href="/" role="button">Назад</a>
{% endblock %}