{% extends "base.html" %}
{% block content %}
<head>
    <meta charset="utf-8">
    <h1>Выберите предмет:</h1>
</head>
<body>
<p style="text-align: center"><button>Математика(1-6 класс)</button>
    <button>Русский язык(1-11 класс)</button>
    <button>Литература(1-11 класс)</button>
    <button>География(5-11 класс)</button>
    <button>Информатика(1-11 класс)</button>
    <button>Английский язык(1-11 класс)</button>
    <button>Биология(5-11 класс)</button>
    <button>Химия(5-11 класс)</button>
    <button>Алгебра(7-11 класс)</button>
    <button>Геометрия(7-11 класс)</button>
    <button>Физика(7-11 класс)</button>
    <button>Окружающий мир(1-4 класс)</button>
    <button>Обществознание(5-11 класс)</button>
    <button>История(1-11 класс)</button>
</p>
</body>
{% endblock %}