{% extends "base.html" %}
{% block content %}
<head>
    <meta charset="utf-8">
    <h1>Наши учителя:</h1>
</head>
<body>
<div class="container">
    <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Наши благодарности!</h4>
        </div>
        <table class="table-info">
            <thead>
                <tr>
                <th scope="col">Фамилия</th>
                <th scope="col">Имя</th>
                <th scope="col">Об учителе</th>
                </tr>
            </thead>
            <tbody>
                {% for item in rows %}
                <tr>
                    <td>{{item["surname"]}}</td>
                    <td>{{item["name"]}}</td>
                    <td>{{item["about_me"]}}</td>
                </tr>
                {% endfor %}
        </table>
</body>
<a class="btn btn-primary" href="/" role="button">Назад</a>
{% endblock %}